* {cursor:none}

body {
    font-family: 'Helvetica';
    overflow: hidden;
}
.no-pointer {pointer-events: none;}
.mallet-cursor {
    width: 15rem;
    height: 15rem;
    position: absolute;
    background-size: contain;
    background: url(../assets/images/mallet-fr1.gif) no-repeat;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.mallet-move {animation: msmack .4s 1;}
@keyframes msmack{
    0% {background-image: url(../assets/images/mallet-fr2.gif); }
    40% {background-image: url(../assets/images/mallet-fr3.gif); }
    75% {background-image: url(../assets/images/mallet-fr4.gif); }
    100% {background-image: url(../assets/images/mallet-fr1.gif); }
}
.fade-in {animation: fade 1s 1 forwards;}
.fade-out {animation: fade 1s 1 reverse forwards;}
@keyframes fade{
    0% {opacity: 0;};
    100% {opacity: 1;}
}
.mole-animate {animation: mole .5s 1;}
@keyframes mole {
    0% {background-image : url("../assets/images/mole.png");}
    100% {background-image : url("../assets/images/mole-stunned.png");}
}
.wrapper {
    width: 960px;
    height: 700px;
    position: absolute;
    background-image: url('../assets/images/background-grass.jpg');
    background-size: cover;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.scoreboard {
    border-radius: 1rem;
    color: white;
    font-size: 8rem;
    left: 50%;
    padding: 0 1rem;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.scoreboard::after {
    content: 'Mole Smacked';
    display: block;
    font-size: 3rem;
}
.countdown {
    width: 100%;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    top: 1.5rem;
    z-index: 1;
}

#game-title {
    width: 100%;
    height: 30%;
    background-image: url('../assets/images/title.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5rem;
}
#credit {
    bottom: 2rem;
    color: #fff;
    position: absolute;
    right: 2rem;
}

.btn {
    background-color: #fff;
    border-radius: .25rem;
    padding: .5rem;    
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 2;    
}
.startButton {
    font-size: 3rem;
    left: 50%;
    top: 50%;
}
.musicButton {
    top: 3em;
    right: 6.0em;
}
.soundButton {
    top: 3em;
    right: 1em;
}

.line-through {text-decoration: line-through;}
    
.replayButton {
    font-size: 3rem;
    right: calc(50% + 2rem);
    top: 30rem;
    transform: translateX(0%);
}
.partyButton {
    font-size: 3rem;
    left: calc(50% + 2rem);
    top: 30rem;
    transform: translateX(0%);
}
.berzerk-deco {
    background-color: red;
    color: turquoise;
}
.gameboard-wp {
    height: 80%;
    width: 80%;
    margin: 70px auto;
}
.gameboard {    
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hole {
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;
    /* z-index: 99; */
}
.hole:after {
    width: 100%;
    min-height: 6rem;
    content: '';
    display: block;
    background: url('../assets/images/dirt.png') no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: -15px;
    background-size: contain;
    /* z-index: 101; */
}

.mole {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/mole.png');
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    transition: 0.4s;
}
.mole.small {
    background-size: 60%;
}
.mole.large {
    background-size: 80%;
}
.hole.up .mole.large {top: 10%;}
.hole.up .mole.small {top: 40%;}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .6;
    top: 0;
    z-index: -1;
}

.hideit {
    display: none;
}